@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-light-blue: #d1e8ff; /* Light blue */
  --background-white: #ffffff;      /* White */
  --background-accent-blue: #cce7ff; /* Slightly darker blue */
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle at 20% 20%, var(--background-light-blue), transparent 20%),
  radial-gradient(circle at 80% 30%, var(--background-accent-blue), transparent 25%),
  radial-gradient(circle at 60% 80%, var(--background-white), transparent 30%),
  var(--background-white);
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
